body {
  background: #7d8fa7;
  padding: 20px;
  font-family: Helvetica;
  justify-content: center;
}

.todo-card {
background: #eee;
padding: 50px 100px;
color: #000;
margin: auto;
border-radius: 10px;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

input {
  margin-right: 5px;
}